
/* 
    Created on : 29-nov-2016, 12:04:06
    Author     : Menno
*/

.subheading {
    -fx-font: 16px Tahoma;
    -fx-font-weight: bold;
}

.sidebar{
    -fx-background: red;
    -fx-base: blue;
}


